{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Tableau de bord{% endblock %}

{% block main %}
<div style="padding: 2rem;">
    <h2 style="margin-bottom: 1rem;">Bienvenue dans l'administration</h2>
    <p style="color: #6b7768;">Utilisez le menu de gauche pour gérer la galerie photos du site.</p>
</div>
{% endblock %}
