<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Les patounès du glazik{% endblock %}</title>
    <meta name="description" content="Services animaliers professionnels - Garde d'animaux, promenades canines et naturopathie animalière à Quimper">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
